
button {
    padding: 8px 15px;
    font-size: 20px;
    text-shadow: 0px 0px 3px #636363;
    color: #000000;    
    background-color: #aa1111;
    border: none;
    border-radius: 25px;
    margin-left: 300px;
    margin-top: 150px;
    font-weight: bold;
    color: #ffffff;
    
}

button:active {
    color: #ffffff;
    background-color: #000000;
}

button:hover {
    color: #00eded;
    background-color: #000000;
}

#save-btn {
    background-color: #117a11;
}
h1 {
    font-size: 40px;
    margin-left: 530px;
}

#digits {
    margin-left: 575px;
}

p {
    font-size: 30px;
    font-weight: bold;
    margin-left: 440px;
}

