body {
    font-family: Arial;
    background-image: url("../Pics/perfect_bg.png");
    background-size: cover;
    background-position: center;
    margin: 25px;
    border-bottom: 10px solid #0000ff;
    
}

.card {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    font-style: oblique;
    font-size: 25px;
    margin: auto;
    color: #000000;
}

.pic {
    width: 425px;
    
}




