header {
    font-size: 100px;
    color: #0000ff;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial;
    background-image: url("../Pics/perfect_bg.png");
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.text {
    font-size: 20px;
}

li {
    color: #000000;
    font-size: 30px;
}

#copy {
    font-size: 25px;
}

.history {
    font-size: 35px;
    color: #ff0000
}

.kali {
    border: 20px solid #0000ff;
    border-radius: 20px;
}

.debian {
    border: 20px solid #000000;
    border-radius: 20px;
}

.ubuntu {
    border: 20px solid #000000
}

.exempt {
    color: #000000;
}




